{
  "extends": "react-app",
  "rules": {
    // Personal choices
    "max-len": [2, 110],

    // Disabling rules because of not found exceptions
    "import/no-webpack-loader-syntax": 0,
    "react/no-danger-with-children": 0,
    "react/style-prop-object": 0
  }
}
